<div class="content">
  <div class="container text-center">
    <h1>Profile</h1>
      <ul>
        <% @profiles.each do |profile| %>
          <%= link_to profile_path(profile) do %>
            <h2 class="mb-1"><%= profile.id%></h2>
          <% end %>
      </ul>
    <%= profile.user.nickname %>
    <% end %>
  </div>
</div>
