<div class="footer">
  <div class="footer-links">
    <a href="/"><i class="fa-solid fa-house"></i></a>
    <a href="events#index"><i class="fa-solid fa-calendar-days"></i></a>
    <a href="chatrooms#index"><i class="fa-regular fa-message"></i></a>
    <a href="profiles#index"><i class="fa-regular fa-user"></i></a>
  </div>
</div>
