<div class="footer">
  <div class="footer-links">
    <%= link_to icon('fa-solid', 'house'),root_path, title: "home" %>
    <%= link_to icon('fa-solid', 'calendar-days'), events_path, title: "events" %>
    <%= link_to icon('fa-regular', 'message'), chatrooms_path, title: "chats" %>
    <%= link_to icon('fa-regular', 'user'), profiles_path, title: "le wagon alumni" %>

  </div>
</div>
