<%# <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <h2>Le Camarade</h2>
   </a>
  </div>
</div> %>

<div class="top-navbar">
  <a href="#" class="project-name">
    <h2>Le Camarede</h2>
  </a>
</div>


<div class="bottom-navbar">
  <div class="footer-links">
    <a href="#"><i class="fa-solid fa-house"></i></a>
    <a href="#"><i class="fa-solid fa-calendar-days"></i></a>
    <a href="#"><i class="fa-regular fa-message"></i></a>
    <a href="#"><i class="fa-regular fa-user"></i></a>
  </div>
</div>
<%# 📮 %>
