<nav class="container-fluid top-navbar  navbar-expand-sm d-flex justify-content-between">

  <div class="top-navbar">
    <a href="/" class="project-name">
      <h2>Le Camarede</h2>
    </a>
  </div>

  <div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <a class="nav-link avatar-item" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= render(partial: "components/avatar") %>
          </a>
          <ul class="dropdown-menu dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item", id: "dropdown-item" %>
        <% else %>
          <a class="nav-link avatar-item" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= render(partial: "components/avatar") %>
          </a>
          <ul class="dropdown-menu dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to "Log in", new_user_session_path, class: "dropdown-item", id: "dropdown-item" %>
        <% end %>
        </ul>
      </ul>
  </div>
</nav>
