// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$b-green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Le camarade Color Scheme
$green: #0FA3B1;
$light-blue: #E7F2F8;
$powder: #F9F7F3;
$champagne: #EDDEA4;
$fire-opal: #e85548;
$baby-pink: #F5CAC3;
