// Specific CSS for your home-page

body {
  margin: 0;
  padding: 0;
  background: $powder;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

.main-container {
  position: relative;
  min-height: 100vh;
}

.container {
  display: flex;
  // justify-content: space-between;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 70px;
}

.title-container {
  width: 100%;
  padding: 40px;
  text-align: center;
}

.event-container {
  border: 1px solid black;
  border-radius: 5px;
  background:  $baby-pink;
  width: 340px;
  // height: 200px;
  top: 219px;
}
.buddy-container {
  border: 1px solid black;
  border-radius: 5px;
  background:  $champagne;
  width: 340px;
  // height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  top: 219px;
}

.event-name-container {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  width: 298px;
  height: 50px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: $powder;
}

.event-name-container p{
  margin-top: 10px;
  margin-left: 5px;
}

.see-more {
  margin-top: 6px;
  margin-right: 5px;
}

.link {
  margin-top: 20px;
}


// button {
//   color: $powder;
//   border: 1px solid black;
//   border-radius: 5px;
//   width: fit-content;
//   height: 35px;
//   left: 263px;
//   background: $fire-opal;
//   margin-top: 5px;
//   margin-right: 5px;
// }
