// Specific CSS for your home-page
.main-container {
  margin-top: 80px;
}
.main-container-second{
  margin-top: 10px;
}
.main-container-second h2{
  margin-left: 20px;
}
.event-container {
  border: 1px solid black;
  border-radius: 5px;
  background:  #ACBCC7;
  width: 340px;
  height: 200px;
  top: 219px;
  margin-left: 20px;
}
.buddy-container {
  border: 1px solid black;
  border-radius: 5px;
  background:  #F9D1B3;
  width: 340px;
  height: 200px;
  top: 219px;
  margin-left: 20px;
}
.main-container h2{
  margin-left: 20px;
}
.event-name-container {

  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  width: 298px;
  height: 50px;
  margin-left: 20px;
  margin-top: 10px;
  background-color: #FFFFFF;
}
.event-name-container button{
  color: white;
}
.event-name-container p{
  margin-top: 10px;
  margin-left: 5px;
}
button {
  border: 1px solid black;
  border-radius: 5px;
  width: fit-content;
  height: 35px;
  left: 263px;
  background: #EC5444;
  margin-top: 5px;
  margin-right: 5px;

}
