<div class="d-flex justify-content-center" >
  <h1>index-chatroom</h1>

  <% @chatrooms.each do |chatroom|  %>
  <ul>
    <%= chatroom.id %>
  <ul>
  <% end %>
  <%= link_to "new chat", new_chatroom_path %>
</div>
Footer
