<div class="container">
  <div class="title-container">
    <h1>Chatrooms <i class="fa-regular fa-comments"></i></h1>
  </div>

    <% color_count = 0 %>
    <% @chatrooms.each do |chatroom| %>

      <% color_count += 1 %>
      <% if color_count.odd?  %>
        <div class="card-container card-container-one position-relative">
      <% else %>
        <div class="card-container card-container-two position-relative">
      <% end %>

        <div class="chat">
          <%= link_to chatroom_path(chatroom) do %>
            <div class="stretched-link"></div>
          <% end %>

          <div class="name-container">
            <h3><strong> <%= chatroom.name.upcase %> </strong></h3>
          </div>
        </div>
        </div>

    <% end %>
      <div class="button-container">
        <%= link_to "Start Chat", new_chatroom_path, class: "btn btn-pink" %>
      </div>
</div>
