<div class="container">
  <div class="content">
    <h1> Create chatroom </h1>
    <div>
      <%= simple_form_for(@chatroom) do |f| %>
      <%= f.input :name, label: false, placeholder: "give a chatroom name..."%>
      <div class="button-container">
        <%= f.submit "create chatroom", class: "btn btn-pink" %>
      <% end %>
      <%= link_to "back", chatrooms_path, class: "btn btn-orange" %>
      </div>
    </div>

  </div>
</div>
