<div class="content">
  <div class="container text-center" >
    <%= simple_form_for(@chatroom) do |f| %>
    <%= f.input :name %>
    <%= f.submit "create chatroom", class: "btn-submit" %>
    <% end %>
  </div>
    <div class="button-container">
      <%= link_to "back", chatrooms_path, class: "btn-orange" %>
    </div>
</div>
