<div class="content">
  <div class="container text-center" >
    <%= simple_form_for(@chatroom) do |f| %>
    <%= f.input :name %>
    <%= f.button :submit, "create chatroom" %>
    <% end %>
  </div>
</div>
