<div class="container d-flex">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-8">
      <h1>Editing event</h1>
      <%= render "form", event: @event %>
      <br>
      <div>
        <%= link_to "Show this event", @event %> |
        <%= link_to "Back to events", events_path %>
      </div>
    </div>
  </div>
</div>
