<div class="container">
  <div class="content">

    <div class="title-container">
      <h1>Events</h1>
    </div>
    <div class="event-container">
      <% @events = Event.all %>
      <% events= @events.sample(3) %>
      <% events.each do |event| %>
        <div class="event-name-container">
          <p><%= event.event_name %></p>
          <div class="see-more">
            <%= link_to "See more!", event_path(event), class: "btn btn-pink"%>
          </div>
        </div>
      <% end %>
    </div>

    <div class="title-container">
      <h1>Your Buddies</h1>
    </div>
    <div class="buddy-container">
      <% @profiles = Profile.all %>
      <% profiles= @profiles.sample(3) %>
      <% profiles.each do |profile| %>
        <div class="event-name-container" >
          <p><%= profile.user.nickname.upcase %></p>
          <div class="see-more">
            <%= link_to "See more!", profile_path(profile), class: "btn btn-pink"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
