<div class="home-container">
  <div class="content">
    <h1>Events</h1>
    <div class="event-container" id="first">
      <div class="event-name-container">
        <p>Event Name</p>
        <button type="button">See more!</button>
      </div>
      <div class="event-name-container" id="second">
        <p>Event Name</p>
        <button type="button">See more!</button>
      </div>
      <div class="event-name-container" id="third">
        <p>Event Name</p>
        <button type="button">See more!</button>
      </div>
    </div>

    <div class="main-container-second">
    <h1>Your Buddies</h1>
    <div class="buddy-container" id="first">
      <div class="event-name-container">
        <p>User Name</p>
        <button type="button">See more!</button>
      </div>
      <div class="event-name-container" id="second">
        <p>User Name</p>
        <button type="button">See more!</button>
      </div>
      <div class="event-name-container" id="third">
        <p>User Name</p>
        <button type="button">See more!</button>
      </div>
      </div>
    </div>

<div class="container text-center">
  <%= link_to "signin", new_user_registration_path %>
  <%= button_to(
                      "Log Out",
                      destroy_user_session_path,
                      method: :delete
                     ) %>
  </div>
</div>
</div>
