<div class="home-container">
  <div class="content">
    <h2>Events</h2>
    <div class="event-container" id="first">
      <div class="event-name-container">
        <p>Event Name</p>
        <button type="button">See more!</button>
      </div>
      <div class="event-name-container" id="second">
        <p>Event Name</p>
        <button type="button">See more!</button>
      </div>
      <div class="event-name-container" id="third">
        <p>Event Name</p>
        <button type="button">See more!</button>
      </div>
    </div>

    <div class="main-container-second">
    <h2>Your Buddies</h2>
    <div class="buddy-container" id="first">
      <div class="event-name-container">
        <p>User Name</p>
        <button type="button">See more!</button>
      </div>
      <div class="event-name-container" id="second">
        <p>User Name</p>
        <button type="button">See more!</button>
      </div>
      <div class="event-name-container" id="third">
        <p>User Name</p>
        <button type="button">See more!</button>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="container text-center">
  <%= link_to "signin", new_user_registration_path %>
  <%= link_to "logout", destroy_user_session_path, data: {turbo_method: :delete} %>
</div>
