<div class="home-container">
  <div class="content">
    <div class="event-header-container">
      <h1>Events</h1>
    </div>
    <div class="event-container">
      <% @events = Event.all %>
      <% @test = @events.sample(3)     %>
      <% @test.each do |event| %>
        <div class="event-name-container" id="#{event_id}">
          <p><%= event.event_name %></p>
          <%= link_to "<button>See more!</button>".html_safe, event_path(event), :id => "button_id", :class => "button_class" %>
        </div>
      <% end %>
    </div>

    <div class="main-container-second">
    <h1>Your Buddies</h1>
    <div class="buddy-container" id="first">
      <div class="event-name-container">
        <p>User Name</p>
        <button type="button">See more!</button>
      </div>
      <div class="event-name-container" id="second">
        <p>User Name</p>
        <button type="button">See more!</button>
      </div>
      <div class="event-name-container" id="third">
        <p>User Name</p>
        <button type="button">See more!</button>
      </div>
    </div>
   </div>
  </div>
</div>
