button {
  color: $powder;
  border: 1px solid black;
  border-radius: 5px;
  width: fit-content;
  height: 35px;
  left: 263px;
  background: $pink;
  margin-top: 5px;
  margin-right: 5px;
}

.btn-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.btn.btn-pink {
  color: $powder;
  border: 1px solid black;
  border-radius: 5px;
  background-color: $pink;
  text-decoration: none;

  &:hover {
    color: $powder;
    opacity: 0.8;
    background-color: $pink;
    border: 1px solid black;
  }
}

.btn.btn-orange {
  color: $tangerine;
  border: 1px solid $tangerine;
  border-radius: 5px;
  background-color: $powder;
  text-decoration: none;

  &:hover {
    color: $tangerine;
    opacity: 0.5;
    background-color: $powder;
    border: 1px solid $tangerine;
  }
}

.btn.btn-square {
  color: $powder;
  border: 1px solid black;
  background: $pink;
  height: 40px;
  padding: 0 15px 0 15px;

  &:hover {
    color: $powder;
    opacity: 0.8;
    background-color: $pink;
    border: 1px solid black;
  }
}
