.chatroom {
  background: $powder;
  margin-top: 9px;
  display: flex;
  justify-content: space-between;
}

.chat {
  background-color: $powder;
  border-radius: 5px;
  width: 100%;
  margin: 10px 20px 10px 20px;
}

.message-container {
  height: 150px;
  margin-top: 100px;
}

.message-content {
  width: 100%
}

@include media-breakpoint-up(md) {
  .message-content  {
    width: 70%
  }
}
