.chatroom {
  background: $powder;
  margin-top: 9px;
  display: flex;
  justify-content: space-between;
}

.chat {
  background-color: $powder;
  border-radius: 5px;
  width: 298px;
  margin: 10px 20px 10px 20px;
}
