
.top-navbar {
  background-color: #243038;
  width: 100%;
  height: 76px;
}

.project-name {
   color: white;
   text-decoration: none;
  width: 167px;
  height: 27px;
}
.project-name:hover {
  color: #495963;
}


